* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

@media (max-width: 320px) {
  html {
    font-size: 14px;
  }
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

address {
  font-style: normal;
}

p {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

label {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section {
  height: 100vh;
  min-height: 36.2222222222rem;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  font-family: "Alegreya Sans", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 960px;
  padding: 0 0.5555555556rem;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1.2222222222rem;
  }
  .container__why {
    padding: 0 0.2777777778rem;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 0 0.5555555556rem;
  }
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #292929;
}

@media (max-width: 480px) {
  .title {
    font-size: 2.2222222222rem;
  }
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  font-size: 0.8888888889rem;
  font-weight: 800;
  line-height: 1.1;
  background-color: #fedb3f;
  padding: 1.1666666667rem 2.2777777778rem;
  border-radius: 100px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.btn:hover {
  background-color: #ffd517;
}

.hero {
  background: #1968b1 url("../img/header_slider/surfman_1.jpg") top center/cover no-repeat;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: url("../img/header_slider/surfman-mobile_1.jpg");
    background-position: top 5.0555555556rem center;
    -webkit-filter: none;
            filter: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5.3888888889rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0.5555555556rem 3.6111111111rem;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 0;
  }
  .header__container {
    padding: 1.4444444444rem 1.6666666667rem;
  }
}
@media (max-width: 480px) {
  .header__container {
    padding: 1.3333333333rem 0.5555555556rem 1.5555555556rem;
  }
}
.logo {
  margin-right: 2.5555555556rem;
}
.logo__img {
  display: inline-block;
  width: 3.1111111111rem;
  height: 2.1666666667rem;
  fill: #fff;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2.6111111111rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation__item:not(:last-child) {
  padding-right: 1.2222222222rem;
}

.navigation__link {
  color: #fff;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.navigation__link:hover {
  color: #fedb3f;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .navigation .navigation__item {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #313131;
    z-index: 100;
  }
}

@media screen and (max-width: 768px) {
  .navigation__list {
    min-width: 100%;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .navigation__link {
    font-size: 2rem;
    line-height: 2;
    font-weight: 400;
  }
}

.navigation--active {
  display: block;
}

.contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.contacts__phone {
  font-size: 1.2222222222rem;
  font-style: normal;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__icon {
  margin-right: 0.2777777778rem;
}
.contacts__img {
  display: inline-block;
  width: 0.7222222222rem;
  height: 0.7777777778rem;
  fill: #fff;
}

@media (max-width: 768px) {
  .contacts {
    display: none;
  }
}
.headline {
  color: #fff;
  max-width: 50%;
  margin: auto 0;
}
.headline__desc {
  margin-bottom: 3.5555555556rem;
}
.headline__title {
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.headline__subttle {
  font-size: 1.1666666667rem;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2.2222222222rem;
}

@media (max-width: 768px) {
  .headline {
    max-width: 100%;
    text-align: center;
  }
  .headline__desc {
    margin-bottom: 0;
    padding-top: 6.3888888889rem;
  }
  .headline__title {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 540px) {
  .headline__title {
    font-size: 2.3888888889rem;
  }
}
@media (max-width: 480px) {
  .headline__title {
    font-size: 2.2222222222rem;
    line-height: 1;
    margin-bottom: 0.7222222222rem;
  }
  .headline__subttle {
    margin-bottom: 2.3888888889rem;
  }
}
@media (max-width: 430px) {
  .headline__title {
    font-size: 1.9444444444rem;
    line-height: 1;
    margin-bottom: 0.7222222222rem;
  }
}
@media (max-width: 370px) {
  .headline__title {
    font-size: 1.6666666667rem;
    line-height: 1;
    margin-bottom: 0.7222222222rem;
  }
}
.dignity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 52%;
  color: #fff;
}
.dignity__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dignity__item:not(:last-child) {
  margin-right: 0.8333333333rem;
}
.dignity__icon {
  margin-right: 0.6111111111rem;
}
.dignity__img {
  display: inline-block;
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  fill: #fff;
}
.dignity__text {
  font-size: 0.8888888889rem;
  line-height: 1.12;
  font-weight: 700;
  max-width: 5rem;
}

@media (max-width: 768px) {
  .dignity {
    display: none;
  }
}
.main {
  position: relative;
}

.why {
  padding-top: 5.8333333333rem;
}

@media (max-width: 768px) {
  .why {
    padding-top: 0;
  }
}
.features {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}
.features__title {
  margin-bottom: 0.9444444444rem;
}
.features__text {
  font-weight: 400;
  line-height: 1.22;
  color: #666;
  margin: 0 auto;
  max-width: 24.2222222222rem;
}

@media (max-width: 480px) {
  .features {
    margin-bottom: 2.9444444444rem;
  }
  .features__title {
    margin-bottom: 0.5rem;
  }
}
.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.card__item {
  max-width: 15.5rem;
  position: relative;
}
.card__item:not(:last-child) {
  margin-right: 0.8333333333rem;
}
.card__item:not(:nth-child(3n))::after {
  content: "";
  width: 3.7222222222rem;
  height: 1.1666666667rem;
  background: url("../img/icons/shape.png") center center no-repeat;
  position: absolute;
  top: 3.1666666667rem;
  right: -3.3888888889rem;
}
.card__icon {
  margin-bottom: 1.1666666667rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__img {
  background-color: #f2f5f4;
  padding: 1.5555555556rem;
  text-align: center;
  border-radius: 50%;
  overflow: visible;
  width: 7rem;
  height: 7rem;
}
.card__title {
  font-size: 1.5rem;
  line-height: 1.18;
  color: #292929;
  font-weight: 700;
  margin-bottom: 1.2222222222rem;
}
.card__text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.22;
  color: #666;
}

@media (max-width: 950px) {
  .card__item::after {
    display: none;
  }
}
@media (max-width: 768px) {
  .card__item {
    max-width: 13.6111111111rem;
  }
  .card__item::after {
    display: none;
  }
  .card__icon {
    margin-bottom: 1.1111111111rem;
  }
  .card__title {
    margin-bottom: 0.3888888889rem;
  }
}
@media (max-width: 480px) {
  .card__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.7222222222rem;
  }
  .card__item:last-child {
    margin-bottom: 0;
  }
  .card__list .card__item {
    margin-right: 0;
  }
  .card__icon {
    margin-right: 0.6666666667rem;
    margin-bottom: 0;
  }
  .card__desc {
    text-align: left;
  }
  .card__title {
    margin-bottom: 0.5555555556rem;
  }
  .card__text {
    max-width: 16.1111111111rem;
  }
}
.slider {
  background-color: #f8faf9;
}
@media screen and (max-width: 768px) {
  .slider {
    padding-top: 1.5rem;
  }
}
.slider__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.slider__col {
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .slider__col {
    max-width: 100%;
  }
}
.slider__pic {
  padding-left: 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .slider__pic {
    padding-left: 0;
    width: 17.6666666667rem;
    height: 23.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__pic {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
}
.slider__desc {
  padding: 0 1.6111111111rem 0 3.8333333333rem;
}
@media screen and (max-width: 768px) {
  .slider__desc {
    padding: 0 1.6666666667rem;
  }
}
@media screen and (max-width: 768px) {
  .slider__content {
    text-align: center;
  }
}
.slider__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.19;
  text-transform: uppercase;
  margin-bottom: 1.4444444444rem;
}
@media screen and (max-width: 768px) {
  .slider__title {
    font-size: 1.6666666667rem;
  }
}
.slider__text {
  font-weight: 400;
  line-height: 1.22;
  color: #666;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slider__text {
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__text {
    padding: 0;
    max-width: 21.1111111111rem;
  }
}
.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1.1111111111rem;
  }
}
.slider__price {
  font-size: 3.3333333333rem;
  font-weight: 300;
  line-height: 1;
  color: #151515;
}
@media screen and (max-width: 768px) {
  .slider__price {
    margin-right: 33px;
  }
}
@media screen and (max-width: 480px) {
  .slider__price {
    margin-right: 0.5555555556rem;
  }
}
.slider__arrow {
  position: absolute;
  top: 48%;
  font-size: 0;
  width: 1.2222222222rem;
  height: 1.2222222222rem;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  border-top-right-radius: 3px;
  background-color: transparent;
}
@media screen and (max-width: 768px) {
  .slider__arrow {
    top: 31%;
  }
}
.slider__arrow--left {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  left: 0;
}
@media screen and (max-width: 768px) {
  .slider__arrow--left {
    left: 21%;
  }
}
@media screen and (max-width: 620px) {
  .slider__arrow--left {
    left: 10%;
  }
}
@media screen and (max-width: 480px) {
  .slider__arrow--left {
    left: 5%;
  }
}
.slider__arrow--right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 0;
}
@media screen and (max-width: 768px) {
  .slider__arrow--right {
    right: 21%;
  }
}
@media screen and (max-width: 620px) {
  .slider__arrow--right {
    right: 10%;
  }
}
@media screen and (max-width: 480px) {
  .slider__arrow--right {
    right: 5%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 2.8888888889rem;
}
@media screen and (max-width: 768px) {
  .benefits {
    margin-bottom: 0;
  }
}
.benefits__tip {
  position: relative;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  border-radius: 4px;
  background-color: #3a587e;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .benefits__tip {
    display: none;
  }
}
.benefits__icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  width: 2.1111111111rem;
  height: 2.1111111111rem;
  fill: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.benefits__title {
  position: absolute;
  left: 0.3888888889rem;
  bottom: 0.5555555556rem;
  text-transform: uppercase;
  font-size: 0.7777777778rem;
  line-height: 1.21;
  font-weight: 700;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.benefits__list {
  position: absolute;
  top: 0;
  right: -9999px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 15.1666666667rem;
  padding: 1rem 0.7777777778rem 1.1666666667rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.benefits__list::before {
  content: "";
  display: block;
  width: 1.1111111111rem;
  height: 8.3333333333rem;
  position: absolute;
  top: 5.0555555556rem;
  left: -1.1111111111rem;
}
.benefits__tip:hover ~ .benefits__list {
  opacity: 1;
  right: 0;
  left: 5.0555555556rem;
}
.benefits__list:hover {
  opacity: 1;
  right: 0;
  left: 5.0555555556rem;
}
.benefits__item:not(:last-child) {
  margin-bottom: 0.4444444444rem;
}
.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7777777778rem;
  font-weight: 400;
  line-height: 1.5;
}
.benefits__icon {
  margin-right: 0.6666666667rem;
}
.benefits__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.benefits__pic {
  display: inline-block;
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  fill: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.description__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.0555555556rem;
}
@media screen and (max-width: 768px) {
  .description__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.description__item:not(:last-child) {
  margin-right: 2.4444444444rem;
}
.description__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.description__text {
  font-weight: 400;
  line-height: 1.22;
  color: #666;
}
.description__text--bold {
  font-weight: 700;
  color: #000;
}

.reviews__title {
  text-align: center;
  margin-bottom: 1.7777777778rem;
}

@media (max-width: 480px) {
  .reviews__title {
    text-align: center;
    margin-bottom: 1.4444444444rem;
  }
}
.reviews-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8faf9;
  padding: 2.3333333333rem;
  margin-bottom: 0.8333333333rem;
}
.reviews-card__img {
  margin-right: 2.2222222222rem;
}
.reviews-card__subject {
  font-size: 1.5rem;
  line-height: 1.18;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.7777777778rem;
}
.reviews-card__text {
  max-width: 25.7222222222rem;
  font-size: 1rem;
  line-height: 1.22;
  font-weight: 400;
  color: #666;
  margin-bottom: 1.3888888889rem;
}
.reviews-card__name {
  font-size: 1rem;
  line-height: 1.33;
  font-weight: 500;
  color: #292929;
}

@media (max-width: 768px) {
  .reviews-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.1111111111rem 1.3333333333rem 1.2222222222rem;
    margin-bottom: 1.7777777778rem;
  }
  .reviews-card__img {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-right: 0;
    margin-bottom: 1.8888888889rem;
  }
  .reviews-card__desc {
    text-align: center;
  }
  .reviews-card__text {
    max-width: 37.6111111111rem;
  }
}
@media (max-width: 480px) {
  .reviews-card__img {
    margin-bottom: 1.5rem;
  }
  .reviews-card__text {
    margin-bottom: 0.6666666667rem;
  }
}
.reviews-control__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews-control__item:not(:last-child) {
  margin-right: 0.3333333333rem;
}
.reviews-control__avatar {
  border-radius: 50%;
}

.reviews-control__item--active .reviews-control__avatar {
  outline: 6px solid #fedb3f;
  outline-offset: -6px;
}

@media (max-width: 480px) {
  .reviews-control__avatar {
    width: 3.5555555556rem;
    height: 3.5555555556rem;
  }
}
.order {
  padding-top: 3.4444444444rem;
  position: relative;
  background-color: #2b2b2b;
  z-index: 1;
}
.order::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 40%;
  background: url("../img/background/serfer.jpg") top center/cover no-repeat;
}
.order__title {
  color: #fff;
  text-align: center;
  margin-bottom: 3.2222222222rem;
}

@media (max-width: 768px) {
  .order__title {
    margin-bottom: 1.7777777778rem;
  }
}
.order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.order-form__col:not(:last-child) {
  margin-right: 1.7222222222rem;
}
.order-form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.order-form__block:not(:last-child) {
  margin-right: 0.8888888889rem;
}
.order-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.order-form__row:not(:last-child) {
  margin-bottom: 0.7777777778rem;
}
.order-form__col .order-form__row--textarea {
  margin-bottom: 2rem;
}
.order-form__title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.22;
  color: #fff;
}
.order-form__input {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 0.7777777778rem;
  line-height: 1.42;
  font-weight: 400;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 1rem 0.6666666667rem 1.1111111111rem;
}
.order-form__input:focus {
  outline: 3px solid #fedb3f;
}
.order-form__input--center {
  text-align: center;
}
.order-form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  margin-bottom: 0;
}
.order-form__payment {
  margin-bottom: 1.1666666667rem;
}
.order-form__input-payment + .order-form__title {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 2.0555555556rem;
}
.order-form__input-payment + .order-form__title:not(:last-child) {
  margin-right: 0.7222222222rem;
}
.order-form__input-payment + .order-form__title::before {
  content: "";
  display: inline-block;
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.5555555556rem;
  position: absolute;
  top: -0.1666666667rem;
  left: 0.1111111111rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.order-form__input-payment:checked + .order-form__title::before {
  background-color: #fedb3f;
  border: 6px solid #fff;
}
.order-form__input-call + .order-form__title {
  position: relative;
  padding-left: 2.0555555556rem;
}
.order-form__input-call + .order-form__title::before {
  content: "";
  display: inline-block;
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 0.5555555556rem;
  position: absolute;
  top: -0.1666666667rem;
  left: 0.1111111111rem;
}
.order-form__input-call:checked + .order-form__title::before {
  background: #fff url("../img/icons/checkmark.svg") center center/1rem 0.4444444444rem no-repeat;
}
.order-form__options {
  margin-bottom: 2.5555555556rem;
}

@media (max-width: 768px) {
  .order-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 25.8888888889rem;
    margin: 0 auto;
  }
  .order-form__input {
    padding: 0.4444444444rem 0.7777777778rem;
  }
  .order-form__col {
    width: 100%;
  }
  .order-form__col:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.9444444444rem;
  }
  .order-form__input--textarea {
    height: 4.5555555556rem;
  }
  .order-form__col .order-form__row--textarea {
    margin-bottom: 1.4444444444rem;
  }
  .order-form__options {
    margin-bottom: 2.1666666667rem;
  }
}
@media (max-width: 480px) {
  .order-form__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.order-button__form:not(:last-child) {
  margin-right: 1.2222222222rem;
}
.order-button__form--clear {
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.22;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  padding: 0;
}
.order-button__form--clear:hover {
  background-color: transparent;
  color: #fedb3f;
}

@media (max-width: 768px) {
  .order-button {
    text-align: center;
  }
}
.map__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.footer {
  padding-top: 0.9444444444rem;
  color: #292929;
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .footer {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .footer__col:not(:last-child) {
    margin-right: 0.8333333333rem;
  }
}
@media (max-width: 480px) {
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__col {
    margin-right: 0;
  }
}
.footer-contacts__address {
  font-size: 1.1666666667rem;
  line-height: 1.14;
  font-weight: 400;
  margin-bottom: 0.1111111111rem;
}
.footer-contacts__number {
  color: #292929;
  font-size: 1.1666666667rem;
  font-weight: 400;
  position: relative;
}
.footer-contacts__img {
  display: inline-block;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  fill: #000;
  margin-right: 0.2222222222rem;
}

@media (max-width: 480px) {
  .footer-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.0555555556rem;
  }
  .footer-contacts__address {
    margin-bottom: 0.6666666667rem;
    text-align: center;
  }
}
.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__item:not(:last-child) {
  margin-right: 0.7777777778rem;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socials__icon {
  display: inline-block;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #b3b3b3;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.socials__icon:hover {
  fill: #000;
}

.hamburger__menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    position: fixed;
    top: 1.8888888889rem;
    right: 2rem;
    width: 1.4444444444rem;
    height: 1.3333333333rem;
    cursor: pointer;
    z-index: 100;
  }
  .hamburger__menu, .hamburger__menu::before, .hamburger__menu::after {
    display: block;
    position: absolute;
    right: 0;
    width: 1.4444444444rem;
    height: 0.2777777778rem;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .hamburger__menu::before, .hamburger__menu::after {
    content: "";
  }
  .hamburger__menu::before {
    top: 1rem;
  }
  .hamburger__menu::after {
    bottom: -0.5rem;
  }
}
@media (max-width: 480px) {
  .hamburger {
    position: fixed;
    top: 1.7777777778rem;
    right: 0.5555555556rem;
  }
}
.hamburger--active .hamburger__menu {
  -webkit-transform: rotate(45deg) translateY(5px);
          transform: rotate(45deg) translateY(5px);
}
.hamburger--active .hamburger__menu::before {
  display: none;
}
.hamburger--active .hamburger__menu::after {
  -webkit-transform: rotate(-90deg) translateX(8px);
          transform: rotate(-90deg) translateX(8px);
}

.pagination {
  position: fixed;
  top: 32%;
  right: 2.7777777778rem;
  z-index: 5;
}

.pagination__item {
  height: 0.3333333333rem;
}
.pagination__item:not(:last-child) {
  margin-bottom: 0.8333333333rem;
}

.pagination__link {
  color: #fff;
  height: 0.3333333333rem;
  position: relative;
}
.pagination__link::before {
  content: "";
  display: inline-block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
}

.pagination__link--active > .pagination__link::after {
  border: 1px solid #fff;
  padding: 0.3888888889rem;
  content: "";
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0.1666666667rem;
  right: -0.2777777778rem;
}

@media (max-width: 768px) {
  .pagination {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */