.card {
  &__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 279px;
    position: relative;

    &:not(:nth-child(3n))::after {
      content: "";
      width: 67px;
      height: 21px;
      background: url("../img/icons/shape.png") center center no-repeat;
      position: absolute;
      top: 57px;
      right: -61px;
    }
  }

  &__icon {
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
  }

  &__img {
    background-color: $light_grey;
    padding: 28px;
    text-align: center;
    border-radius: 50%;
    overflow: visible;
  }

  &__title {
    font-size: 27px;
    line-height: 1.18;
    color: $dark_grey;
    margin-bottom: 22px;
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.22;
    color: $grey;
  }
}
