.contacts {
  flex: 1 0 auto;

  &__phone {
    font-size: rem(22px);
    font-style: normal;
    color: $white;
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: rem(5px);
  }

  &__img {
    display: inline-block;
    width: rem(13px);
    height: rem(14px);
    fill: $white;
  }
}

@media (max-width: $tablets) {
  .contacts {
    display: none;
  }
}
