.container {
  max-width: $width_container + 20px;
  padding: 0 rem(10px);
  margin: 0 auto;
}

@media (max-width: $tablets) {
  .container {
    padding: 0 rem(22px);

    &__why {
      padding: 0 rem(5px);
    }
  }
}

@media (max-width: $phone) {
  .container {
    padding: 0 rem(10px);
  }
}
