.dignity {
  &__list {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $white;
  }

  &__item {
    font-size: 16px;
    line-height: 1.1;
    position: relative;
    width: 90px;
    padding-left: 52px;

    &:not(:nth-child(3n)) {
      margin-right: 82px;
    }

    &::before {
      content: "";
      width: 41px;
      height: 41px;
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
    }
    @each $dignity in (desing, materials, delivery) {
      &--#{$dignity}::before {
        content: "";
        width: 41px;
        height: 41px;
        position: absolute;
        top: 0;
        left: 0;
        background: url("../img/icons/#{$dignity}.png") center center no-repeat;
      }
    }
  }
}
