.dignity {
  &__list {
    display: flex;
    justify-content: space-between;
    width: 52%;
    color: $white;
  }

  &__item {
    display: flex;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__icon {
    margin-right: rem(11px);
  }

  &__img {
    display: inline-block;
    width: rem(41px);
    height: rem(41px);
    fill: $white;
  }

  &__text {
    font-size: rem(16px);
    line-height: 1.12;
    font-weight: 700;
    max-width: rem(90px);
  }
}

@media (max-width: $tablets) {
  .dignity {
    display: none;
  }
}
