.features {
  text-align: center;
  padding-top: 105px;
  margin-bottom: 50px;

  &__title {
    margin-bottom: 17px;
  }

  &__text {
    font-weight: 400;
    line-height: 1.22;
    color: $grey;
    margin: 0 auto;
    max-width: 436px;
  }
}
