.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(97px);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(24px) rem(10px) rem(65px);
  }
}

@media (max-width: $tablets) {
  .header {
    margin-bottom: 0;
    &__container {
      padding: 26px 30px;
    }
  }
}

@media (max-width: $phone) {
  .header {
    &__container {
      padding: 24px 10px 28px;
    }
  }
}
