.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 103px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 65px;
  }
}
