.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //   background-color: rgba(51, 53, 55, 0.6);
  background-color: #333537;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -9000;
  transition: opacity 0.9s;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: rem(37px) rem(66px);
  }

  &__text {
    margin-bottom: rem(18px);
  }
}
