.navigation__list {
  display: flex;
  justify-content: center;
  margin-right: rem(47px);
  flex-wrap: wrap;
}

.navigation__item:not(:last-child) {
  padding-right: rem(22px);
}

.navigation__link {
  color: $white;
  transition: color 0.4s;

  &:hover {
    color: $yellow;
  }
}

@media (max-width: $tablets) {
  .navigation {
    display: none;
  }
}
