.order-form {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__col:not(:last-child),
  &__cols:not(:last-child) {
    margin-right: rem(12px);
  }

  &__contacts-row:not(:last-child) {
    margin-right: rem(17px);
  }

  &__contacts {
    display: flex;
    margin-bottom: rem(14px);
  }

  &__field-name {
    color: $white;
    font-size: rem(18px);
    line-height: 1.22;
    font-weight: 400;
    display: block;
  }

  &__input {
    font-size: rem(14px);
    line-height: 1.42;
    font-weight: 400;
    color: $black;
    padding: rem(18px) rem(16px) rem(20px);
    border: none;
    border-radius: 4px;
    outline: none;
  }

  &__input:focus {
    outline: 3px solid $yellow;
  }

  &__street {
    margin-bottom: rem(14px);
  }

  &__input--medium {
    width: rem(223px);
  }

  &__input--large {
    width: rem(462px);
  }

  &__input--small {
    width: rem(107px);
    text-align: center;
  }

  &__row {
    display: flex;
  }

  &__input-payment + &__field-name {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: rem(37px);
    margin-bottom: rem(21px);
  }

  &__input-payment + &__field-name:not(:last-child) {
    margin-right: rem(13px);
  }

  &__input-payment + &__field-name::before {
    content: "";
    display: inline-block;
    width: rem(25px);
    height: rem(25px);
    background-color: $white;
    border-radius: 50%;
    margin-right: rem(10px);
    position: absolute;
    top: rem(-3px);
    left: rem(2px);
    transition: 0.2s;
  }

  &__input-payment:checked + &__field-name::before {
    background-color: $yellow;
    border: 6px solid $white;
  }

  &__input-call + &__field-name {
    position: relative;
    padding-left: rem(37px);
  }

  &__input-call + &__field-name::before {
    content: "";
    display: inline-block;
    width: rem(24px);
    height: rem(24px);
    background-color: $white;
    border-radius: 4px;
    margin-right: rem(10px);
    position: absolute;
    top: rem(-3px);
    left: rem(2px);
  }

  &__input-call:checked + &__field-name::before {
    background: $white url("../img/icons/checkmark.svg") center center / rem(18px) rem(8px) no-repeat;
  }

  &__options {
    margin-bottom: rem(46px);
  }
}

@media (max-width: $tablets) {
  .order-form {
    flex-direction: column;
    align-items: center;

    &__input {
      padding: 8px 14px;
    }

    &__col:not(:last-child) {
      margin-right: 0;
      margin-bottom: 17px;
    }
  }
}

@media (max-width: $phone) {
  .order-form {
    padding: 0 10px;
    &__options {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 320px) {
  html {
    font-size: 14px;
  }
}
