.reviews-card {
  max-width: 100%;
  margin-bottom: rem(15px);
  overflow: hidden;

  &__list {
    display: flex;
    width: 100%;
    transition: all 0.7ms;
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: $grayish;
    padding: rem(42px);
    flex: 1 0 100%;
  }

  &__img {
    margin-right: rem(40px);
  }

  &__subject {
    font-size: rem(27px);
    line-height: 1.18;
    font-weight: 700;
    color: $dark_grey;
    margin-bottom: rem(14px);
  }

  &__text {
    max-width: rem(463px);
    font-size: rem(18px);
    line-height: 1.22;
    font-weight: 400;
    color: $grey;
    margin-bottom: rem(25px);
  }

  &__name {
    font-size: rem(18px);
    line-height: 1.33;
    font-weight: 500;
    color: $dark_grey;
  }
}

@media (max-width: $tablets) {
  .reviews-card {
    &__item {
      flex-direction: column;
      align-items: center;
      padding: rem(56px) rem(24px) rem(22px);
      margin-bottom: rem(32px);
    }

    &__img {
      width: rem(130px);
      height: rem(130px);
      margin-right: 0;
      margin-bottom: rem(34px);
    }

    &__desc {
      text-align: center;
    }

    &__text {
      max-width: rem(677px);
    }
  }
}

@media (max-width: $phone) {
  .reviews-card {
    &__img {
      margin-bottom: rem(27px);
    }

    &__text {
      margin-bottom: rem(12px);
    }
  }
}
