// Fonts
$font: "Alegreya Sans", Arial, sans-serif;

// Background color
$bg_header: #1968b1;
$light_grey: #f2f5f4;
$bg_grey: #f8faf9;
$bg_dark_grey: #2b2b2b;

// Text color
$white_color: #fff;
$hover: #fedb3f;
$dark_grey: #292929;
$grey: #666;

// Button color
$btn_color: #000;
$btn_bg: #fedb3f;
$btn_hover: #ffd517;
