// FONTS
$font: "Alegreya Sans", Arial, sans-serif;
$OpenSans: "Open Sans", Arial, sans-serif;
$font_size: 18px;

// SIZE
$width_container: 940px;
$height: 100vh;

// COLOR
$white: #fff;
$black: #000;
$grey: #666;
$grayish: #f8faf9;
$light_grey: #f2f5f4;
$social_grey: #b3b3b3;
$darkness: #2b2b2b;
$dark_grey: #292929;
$yellow: #fedb3f;
$dark_yellow: #ffd517;
$blue: #1968b1;

// REM FUNCTION
$gfz: $font_size;

@function rem($px) {
  @return calc($px / $gfz) + 0rem;
}

// SCREEN SIZE
$tablets: 768px;
$phone: 480px;
$small_phone: 320px;
