// STYLE
@import "_variables";
@import "_base";
@import "_fonts";
//
// GENERAL
@import "_container";
@import "_center";
@import "_title";
@import "_btn";
// ADAPTIVE
@import "_media";
//
//BLOCK HERO
@import "_hero";
// HEADER
@import "_header";
@import "_logo";
@import "_navigation";
@import "_contacts";
// HEADLINE
@import "_headline";
@import "_dignity";
//
// MAIN
@import "_main";
//BLOCK WHY
@import "_why";
@import "_features";
@import "_card";
//BLOCK REVIEWS
@import "_reviews";
@import "_reviews-card";
@import "_reviews-control";
//BLOCK ORDER
@import "_order";
@import "_order-form";
@import "_order-button";
//BLOCK MAP
@import "_map";
//
// FOOTER
@import "_footer";
@import "_footer-contacts";
@import "_socials";
//
// CONTROLS
@import "_hamburger";
@import "_pagination";

//Эксперементы - НЕ ЗАБЫТЬ УДАЛИТЬ ИЗ ФИНАЛЬНОЙ ЧАСТИ!!!!
@import "_experiments";

.navigation {
  @include tablets {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #313131;
    z-index: 100;
  }
}

.navigation__list {
  @include tablets {
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.navigation__link {
  @include tablets {
    font-size: rem(36px);
    line-height: 2;
    font-weight: 400;
  }
}

.navigation--active {
  display: block;
}

.hamburger--active .hamburger__menu {
  transform: rotate(45deg) translateY(5px);

  &::before {
    display: none;
  }

  &::after {
    transform: rotate(-90deg) translateX(8px);
  }
}
