.footer {
  padding-top: rem(17px);
  color: $dark_grey;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: rem(18px);
  }
}

@media (max-width: $tablets) {
  .footer {
    background-color: $white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__col:not(:last-child) {
      margin-right: rem(15px);
    }
  }
}

@media (max-width: $phone) {
  .footer {
    &__box {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    & &__col {
      margin-right: 0;
    }
  }
}
