.hamburger {
  &__menu {
    display: none;
  }
}

@media (max-width: $tablets) {
  .lol {
    position: relative;
  }

  .hamburger {
    position: fixed;
    top: rem(34px);
    right: rem(36px);
    width: rem(26px);
    height: rem(24px);
    cursor: pointer;
    z-index: 100;

    &__menu,
    &__menu::before,
    &__menu::after {
      display: block;
      position: absolute;
      right: 0;
      width: rem(26px);
      height: rem(5px);
      border-radius: 5px;
      background-color: $white;
      transition: 0.2s;
    }

    &__menu {
      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: rem(18px);
      }

      &::after {
        bottom: rem(-9px);
      }
    }
  }
}

@media (max-width: $phone) {
  .hamburger {
    position: fixed;
    top: rem(32px);
    right: rem(10px);
  }
}

.hamburger--active .hamburger__menu {
  transform: rotate(45deg) translateY(5px);

  &::before {
    display: none;
  }

  &::after {
    transform: rotate(-90deg) translateX(8px);
  }
}
.hamburger-color--black > .hamburger__menu,
.hamburger-color--black > .hamburger__menu::before,
.hamburger-color--black > .hamburger__menu::after {
  background-color: $black;
}
