.order-form {
  display: flex;

  &__col {
    flex: 1;

    &:not(:last-child) {
      margin-right: rem(31px);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    flex: 1;

    &:not(:last-child) {
      margin-right: rem(16px);
    }
  }

  &__row {
    display: flex;

    &:not(:last-child) {
      margin-bottom: rem(14px);
    }
  }

  &__col &__row--textarea {
    margin-bottom: rem(36px);
  }

  &__title {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.22;
    color: $white;
  }

  &__input {
    font-family: $OpenSans;
    font-size: rem(14px);
    line-height: 1.42;
    font-weight: 400;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: rem(18px) rem(12px) rem(20px);

    &:focus {
      outline: 3px solid $yellow;
    }

    &--center {
      text-align: center;
    }
  }

  &__input--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: 0;
  }

  &__payment {
    margin-bottom: rem(21px);
  }

  &__input-payment + &__title {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: rem(37px);
  }

  &__input-payment + &__title:not(:last-child) {
    margin-right: rem(13px);
  }

  &__input-payment + &__title::before {
    content: "";
    display: inline-block;
    width: rem(25px);
    height: rem(25px);
    background-color: $white;
    border-radius: 50%;
    margin-right: rem(10px);
    position: absolute;
    top: rem(-3px);
    left: rem(2px);
    transition: 0.2s;
  }

  &__input-payment:checked + &__title::before {
    background-color: $yellow;
    border: 6px solid $white;
  }

  &__input-call + &__title {
    position: relative;
    padding-left: rem(37px);
  }

  &__input-call + &__title::before {
    content: "";
    display: inline-block;
    width: rem(24px);
    height: rem(24px);
    background-color: $white;
    border-radius: 4px;
    margin-right: rem(10px);
    position: absolute;
    top: rem(-3px);
    left: rem(2px);
  }

  &__input-call:checked + &__title::before {
    background: $white url("../img/icons/checkmark.svg") center center / rem(18px) rem(8px) no-repeat;
  }

  &__options {
    margin-bottom: rem(46px);
  }
}

@media (max-width: $tablets) {
  .order-form {
    flex-direction: column;
    align-items: center;

    max-width: rem(466px);
    margin: 0 auto;

    &__input {
      padding: rem(8px) rem(14px);
    }

    &__col {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: rem(17px);
      }
    }

    &__input--textarea {
      height: rem(82px);
    }

    &__col &__row--textarea {
      margin-bottom: rem(26px);
    }

    &__options {
      margin-bottom: rem(39px);
    }
  }
}

@media (max-width: $phone) {
  .order-form {
    &__options {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
