.player {
  background-color: $grayish;

  &__box {
    position: relative;
    display: block;
    margin: 0 auto;
    width: rem(662px);
    height: rem(392px);

    & {
      @include phones {
        width: rem(394px);
      }
    }
  }

  #yt-player {
    // width: 100%;
    // height: 100%;
    // position: absolute;

    & {
      @include tablets {
        max-width: 100% !important;
        max-height: 100% !important;
        position: relative;
      }

      @include phones {
        width: rem(394px);
        height: rem(233px);
      }
    }
  }

  &__content {
    position: relative;
    display: block;
    width: rem(662px);
    height: rem(392px);
    & {
      @include tablets {
        max-width: rem(594px);
        max-height: rem(351px);
      }

      @include phones {
        width: rem(394px);
        height: rem(233px);
      }
    }
  }

  .player__box--active .player__splash {
    display: none;
  }

  &__splash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/icons/play.png") center center / 75px 110px no-repeat,
      url("../img/background/player_splash.jpg") center center / cover no-repeat;
    cursor: pointer;
  }

  &__controls {
    position: absolute;
    padding: rem(9px) rem(22px) rem(10px) rem(18px);
    left: 0;
    bottom: 0;
    width: 100%;
    height: rem(35px);
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & {
      @include tablets {
        width: rem(594px);
        bottom: rem(41px);
      }
      @include phones {
        width: rem(394px);
        bottom: rem(160px);
      }
    }
  }

  &__button {
    height: rem(16px);
  }

  &__playback-icon {
    width: 11px;
    height: 16px;
    fill: $white;
  }

  &__time {
    width: rem(446px);
    position: relative;
    cursor: pointer;

    & {
      @include tablets {
        width: rem(400px);
      }

      @include phones {
        width: rem(225px);
      }
    }
  }

  &__time-line {
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    left: 0;
    background-color: #fedb3f;
    position: absolute;
    cursor: pointer;
  }

  &__volume {
    width: rem(58px);
    height: 4px;
    border-radius: 1px;
    background-color: #626262;
    position: relative;
    cursor: pointer;

    &-control {
      width: rem(15px);
      height: rem(15px);
      border-radius: 50%;
      top: -5px;
      left: 0;
      background-color: #fedb3f;
      position: absolute;
      cursor: pointer;
    }
  }

  &__sound {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(95px);
  }

  &__sound-icon {
    width: rem(13px);
    height: rem(17px);
    fill: $white;
  }
}

input[type="range"].slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 15px + var(--ratio) * (100% - 15px));
}

.player__time input[type="range"] {
  appearance: none;
  width: 100%;
  height: rem(4px);
  border-radius: 1px;
  background-color: #626262;
  cursor: pointer;
}

.player__time input[type="range"],
.player__sound-range input[type="range"] {
  background: linear-gradient(#fedb3f, #fedb3f) 0 / var(--sx) 100% no-repeat, #626262;
}

.player__progrss-point,
.player__volume-point {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background: #fedb3f;
  border: none;
  position: absolute;
  top: rem(-6px);
  left: 0;
}

.player__volume-point {
  top: rem(7px);
  left: 0;
}

input[type="range"].player__time-line::-webkit-slider-thumb {
  appearance: none;
  width: rem(15px);
  height: rem(15px);
  border-radius: 30px;
  background: transparent;
  border: none;
}

input[type="range"].player__time-line::-moz-range-thumb {
  appearance: none;
  width: rem(15px);
  height: rem(15px);
  border-radius: 30px;
  background: transparent;
  border: none;
}

.player__sound-range {
  position: relative;
}

.player__sound-range input[type="range"] {
  appearance: none;
  width: rem(58px);
  height: rem(4px);
  border-radius: 1px;
  background-color: #626262;
  cursor: pointer;
  // position: relative;
}

input[type="range"].player__sound-line::-webkit-slider-thumb {
  appearance: none;
  width: rem(15px);
  height: rem(15px);
  border-radius: 30px;
  background: transparent;
  border: none;
}

input[type="range"].player__sound-line::-moz-range-thumb {
  appearance: none;
  width: rem(15px);
  height: rem(15px);
  border-radius: 30px;
  background: transparent;
  border: none;
}

// @media (max-width: 640px) {
//   .player__box {
//     width: 490px;
//   }

//   .player__content {
//     width: 490px;
//     height: 275px;
//   }

//   .player__controls {
//     width: 490px;
//     bottom: 117px;
//   }

//   .player__time {
//     width: 310px;
//   }
// }
